env/
venv_new/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
*.log
.pytest_cache/
build/
dist/
.vscode/
.env
.idea/
*.pkl
*.csv
logs/
artifacts/
predictions/
prediction_artifacts/
prediction_test_file/
server.log
